nav{
    background: rgba(0, 0, 0, 0.4);
    width: max-content;
    padding: .2rem 1rem;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    display: flex;
    gap: 1rem;
    border-radius: 9rem;
    backdrop-filter: blur(10px);
}

nav a{
    padding: .7rem;
    background-color: transparent;
    display: flex;
    font-size: 1rem;
    color: var(--color-light);
    border-radius: 50%;
}

nav a:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

nav a.active{
    background-color: var(--color-bg);
    color: var(--color-white);
}